<div class="ui menu">
  <a class="header item" href="/">Robobench</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'App Repositories' %}active{% endif %}" href="/apps/" data-position="bottom left" data-content="App Demos"><i class="icon cube"></i></a>
    <a class="item menu-details {% if page.title == 'App Manager' %}active{% endif %}" href="/app_manager/" data-position="bottom left" data-content="Application Manager"><i class="wizard icon"></i></a>
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
